
.swiper {
    width: 100%;
    height: 100%;
    padding-bottom:30px;
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
}

.carausal img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carausal-image img {
  display: block;
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.imgproduct--gm img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  max-width: 72px !important;
  max-height: 72px  !important;
  object-fit: cover;
  border-radius: 50%;
}
  