.header-post-top {
  display: flex;
  align-items: center;
}
.post-wigtname-usr {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #dedede;
}
.poste-datetime {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
