.title-h2-head {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #dedede;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
.view-allstream {
  h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #dedede;
  }
}
