
.recommendedContainer{

    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin-top: 15px;
        padding: 0 15px;
        color: #282c3f;

        .colored{
            color: #ff3f6c;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .scrollableContainer{
        overflow-x: scroll;
        display: flex;
        padding: 10px 5px;
        
        .scrollableContent{
            margin:  0 5px;
            background-color: #fff;
            min-width: 150px;
            padding: 12px;
            border: 1px solid #282c3f1a;
            border-radius: 4px;
            img{
                width: 100%;
                max-height: 150px;
            }
            h4{
                margin: 0;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
            }
            p{
                color: #282c3f99;
                text-align: center;
                font-size: 14px;
                margin: 0;
            }
            .button{
                width: 100%;
            }
        }
    }

}