.Posts_customDots > li > button {
  background-color: #616e7c !important;
  border-color: #616e7c !important;
  border: none !important;
}

.Posts_customDots > .react-multi-carousel-dot--active > button {
  background-color: #fff !important;
  border-color: #fff !important;
  border: none !important;
}

.Posts_customDots > .react-multi-carousel-dot {
  margin-top: 100px !important;
}

.react-multi-carousel-track {
  margin-bottom: 20px !important;
}

.selectedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 10px;
  width: 27px;
  height: 26px;
  background: #ffc323;
  border: 1px solid #ffc323 !important;
  border-radius: 6px;
  outline: none;
}

.selectedContainer p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #11100d;
}

.defaultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 10px;
  width: 27px;
  height: 26px;
  border: 1px solid #8c8888;
  border-radius: 6px;
  outline: none;
}

.defaultContainer p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #11100d;
}
